div{
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px;
  margin: 10px;
  border-radius: 10px;
}
#ok{
  background-color: aqua;
}
img{
  width: 300px;
}
.nayok{
  background-color: burlywood;
  margin: 10px;
  border-radius: 20px;
}